<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
  </head>

  <body background="background.png" style="FONT-WEIGHT: 100; padding-top: 0px;">

  <div class="container">

    <form class="form-signin" action="login" method="post" onsubmit="return validate()">
      <!-- -->
      <header class="header">
	         
      </header>
      <!-- -->
      <img width="100%" src="caixinha2.png"/>
      <center> <h2 class="form-signin-heading">Bem-Vindo</h2> </center>
      <label for="email" class="sr-only">E-mail</label>
      <input type="email" id="email" name="email" class="form-control" placeholder="E-mail" required autofocus>
      <label for="senha" class="sr-only">Senha</label>

        <!-- <i class="zmdi zmdi-eye"></i>  icone do olho -->

      <input type="password" id="senha" name="senha" class="form-control" placeholder="Senha" required>
      <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me">Lembrar-me
          </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>

      <form method="post" class="navbar-form navbar-right">

      </form>

<!-- Parte visual para importar os dados-->
<!--
      <form method="post" class="navbar-form navbar-right">
	<table>
	  <tr>
	    <td>
	      <button formaction="excluirTudo" class="btn btn-lg btn-primary btn-block" type="submit">1.Remover Tudo</button>
	    <td>
	  </tr>
	  <tr>
	    <td>
	      <button formaction="iniciarBases" class="btn btn-lg btn-primary btn-block" type="submit">2.Iniciar Bases</button>
	    <td>
	  </tr>

	  <tr>
	    <td>
	      <button formaction="importar1" class="btn btn-lg btn-primary btn-block" type="submit">3.Importar1</button>
	      <button formaction="importar2" class="btn btn-lg btn-primary btn-block" type="submit">4.Importar2</button>
	      <button formaction="importar3" class="btn btn-lg btn-primary btn-block" type="submit">5.Importar3</button>
	      <button formaction="importar4" class="btn btn-lg btn-primary btn-block" type="submit">6.Importar4</button>
	      <button formaction="importar5" class="btn btn-lg btn-primary btn-block" type="submit">7.Importar5</button>
	      <button formaction="importarTudo" class="btn btn-lg btn-primary btn-block" type="submit">3.Importar Tudo</button>
	    <td>
	  </tr>
      </form>
    -->
      <!-- -->
      <br/>
      <br/>


      <!-- -->
      <footer class="footer">
	<div id="rodape" class="container">
    <img width="10%" src="utfpr_logo.png"/>
    <p class="text-muted">&copy; UTFPR Campus Apucarana - 2020</p>
	</div>
      </footer>
      <!-- -->
    </form>

  </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>
</html>
